{% extends 'layout/Base.html' %}
{% block title %}Products-Aquafeel-Technologies{% endblock%}
{%block content%}
{% load static %}
<style>
    /* color:  red#ec1c24, black#212d31, grey#343a40, white#eee  */
* {
  box-sizing: border-box;
}


.contain {
  background-color: #eee;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

div.form {
  background-color: #eee;
}
.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}

.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #00bcd4;
}

.highlight-text {
  color: #ec1c24;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
    margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  font-family: 'Roboto', sans-serif;
}

.required-input {
  color: black;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

.form-input:focus,
textarea:focus{
  outline: 1.5px solid #00bcd4;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

button, .submit-btn {
  background: transparent;
  border: 1px solid #00bcd4;;
  color: #00bcd4;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
button:hover, .submit-btn:hover,
button:focus , .submit-btn:focus{
  background: #00bcd4;
  outline: 0;
  color: #eee;
}
.error {
  color: #ec1c24;
}
.zoom-in-out-box {
  margin: 24px;
  color : #c01919;
  animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
h4{
text-align: left;
margin-top : 10%;
}
</style>
<section id="bottom">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{product.name|title}}</h2>
            <div>
        </div>
            <div class="row" style="margin-top:10%;">
                <div class="col-md-6">
             <img class="img-responsive" src="{{product.image.url}}">
                    <p>{{product.name}}</p>
                    <h4>{{product.description}}</h4>
                    <h4><br>
                        {% if product.describe_1%}
                    <li>{{product.describe_1}}</li><br>{%endif%}
                         {% if product.describe_2%}
                    <li>{{product.describe_2}}</li><br>{%endif%}
                         {% if product.describe_3%}
                        <li>{{product.describe_3}}</li><br>{%endif%}

                    </h4>

                </div>
                <div class="col-md-6">
                          {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Success!</strong> {{message}}.
                </div>
            {% else %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error!</strong> {{message}}.
                </div>
            {% endif %}
        {%endfor%}
    {% endif %}
                    <div class="contain">
  <div class="wrapper" style="grid-template-columns: auto;">
    <div class="form">
      <h5 class="zoom-in-out-box">GET IN TOUCH</h5>
      <h2 class="form-headline">Get Qutation</h2>
      <form id="submit-form" method="POST" action="/product/{{product.name|cut:' '}}/">
         {% csrf_token %}
        <p>
            <input class="form-input" type="hidden" name="product_id" value="{{product.pk}}">
             <input class="form-input" type="hidden" name="product_name" value="{{product.name}}">
          <input id="name" class="form-input" type="text" name="name" placeholder="Your Name*" required>
          <small class="name-error"></small>
        </p>
        <p>
          <input id="email" class="form-input" type="email" name="email" placeholder="Your Email*" required>
          <small class="name-error"></small>
        </p>
           <p>
          <input id="mobile" class="form-input" type="number" name="mobile" placeholder="Your mobile*" required>
          <small class="name-error"></small>
        </p>
        <p>
          <input id="company-name" class="form-input" type="text" name="company_name" placeholder="Company Name*">
          <small></small>
        </p>
        <p class="full-width">
          <textarea  minlength="20" id="message" cols="30" rows="7" name="message" placeholder="Your Message*" required></textarea>
          <small></small>
        </p>
        <p class="full-width">
          <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive communications by call / email about Company's services.
        </p>
        <p class="full-width">
          <input type="submit" class="submit-btn" value="Submit" onclick="checkValidations()">
          <button class="reset-btn" onclick="reset()">Reset</button>
        </p>
      </form>
    </div>

    <div class="contacts contact-wrapper">

      <ul>
        <li>Aquafeel Technologies Water Treatment Company is dedicated towards the customer satisfaction and emphasize on providing the best products and services.</li>
        <span class="hightlight-contact-info">
          <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> info@aquafeeltechnologies.com</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="highlight-text">+91 9582173121</span></li>
        </span>
      </ul>
    </div>
  </div>
</div>
                </div>
            </div>



</div>
    </div><!--/.container-->
</section><!--/about-us-->
<script>
const nameEl = document.querySelector("#name");
const emailEl = document.querySelector("#email");
const companyNameEl = document.querySelector("#company-name");
const messageEl = document.querySelector("#message");

const form = document.querySelector("#submit-form");

function checkValidations() {
  let letters = /^[a-zA-Z\s]*$/;
  const name = nameEl.value.trim();
  const email = emailEl.value.trim();
  const companyName = companyNameEl.value.trim();
  const message = messageEl.value.trim();
  if (name === "") {
     document.querySelector(".name-error").classList.add("error");
      document.querySelector(".name-error").innerText =
        "Please fill out this field!";
  } else {
    if (!letters.test(name)) {
      document.querySelector(".name-error").classList.add("error");
      document.querySelector(".name-error").innerText =
        "Please enter only characters!";
    } else {

    }
  }
  if (email === "") {
     document.querySelector(".name-error").classList.add("error");
      document.querySelector(".name-error").innerText =
        "Please fill out this field!";
  } else {
    if (!letters.test(name)) {
      document.querySelector(".name-error").classList.add("error");
      document.querySelector(".name-error").innerText =
        "Please enter only characters!";
    } else {

    }
  }
}

function reset() {
  nameEl = "";
  emailEl = "";
  companyNameEl = "";
  messageEl = "";
  document.querySelector(".name-error").innerText = "";
}
</script>
{% endblock %}